<mat-card class="review-card">
    <mat-card-header>
        <mat-card-title class="review-title">
            Course Review
        </mat-card-title>
        <mat-card-subtitle>
            Rate your course to view what other students think!
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="review-content">
        <table>
            <tr class="review-row">
                <td class="review-col">Relevance: </td>
                <td class="review-col">
                    <ngx-stars [color]="'#ffe000'"
                               [wholeStars]="true"
                               (ratingOutput)="onRateRelevance($event)">
                    </ngx-stars>
                </td>
            </tr>
            <tr class="review-row">
                <td class="review-col">Interest: </td>
                <td class="review-col">
                    <ngx-stars [color]="'#ffe000'"
                               [wholeStars]="true"
                               (ratingOutput)="onRateInterest($event)">
                    </ngx-stars>
                </td>
            </tr>
            <tr class="review-row">
                <td class="review-col">Instruction: </td>
                <td class="review-col">
                    <ngx-stars [color]="'#ffe000'"
                               [wholeStars]="true"
                               (ratingOutput)="onRateInstruction($event)">
                    </ngx-stars>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="no-margin-bottom no-padding-top" align="end">
        <mat-divider></mat-divider>
        <button mat-button [disabled]="!isRatingValid()" (click)="submitRating()">SUBMIT</button>
        <mat-divider></mat-divider>
    </mat-card-actions>
</mat-card>