<div [formGroup]="commentForm">
    <mat-form-field appearance="fill">
        <mat-label>Seconds Reference</mat-label>
        <input matInput type="number" [formControlName]="'referenceTime'">
    </mat-form-field>
    <mat-form-field class="comment-content" appearance="fill">
        <mat-label>Write a comment...</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [formControlName]="'content'"
                  (keydown.enter)="submitComment()">
        </textarea>
    </mat-form-field>
</div>