<div [formGroup]="commentForm">
    <div class="ref-time-controls">
        <mat-form-field class="time-control" appearance="fill">
            <mat-label>Hours</mat-label>
            <input matInput type="number" [formControlName]="'referenceTimeHours'">
        </mat-form-field>
        <p class="dots">:</p>
        <mat-form-field class="time-control" appearance="fill">
            <mat-label>Minutes</mat-label>
            <input matInput type="number" [formControlName]="'referenceTimeMinutes'">
        </mat-form-field>
        <p class="dots">:</p>
        <mat-form-field class="time-control" appearance="fill">
            <mat-label>Seconds</mat-label>
            <input matInput type="number" [formControlName]="'referenceTimeSeconds'">
        </mat-form-field>
    </div>
    <mat-form-field class="comment-content" appearance="fill">
        <mat-label>Write a comment...</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [formControlName]="'content'"
                  (keydown.enter)="submitComment()">
        </textarea>
    </mat-form-field>
</div>