<ng-container *ngIf="course">
  <mat-toolbar class="course-title" color="primary">
    <button mat-icon-button (click)="sidenavService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{course.name}}</span>
  </mat-toolbar>
  <mat-tab-group class="course-tabs">
    <mat-tab label="Feed">
      <app-posts [course]="course"></app-posts>
    </mat-tab>
    <mat-tab label="Lectures">
      <app-lectures [course]="course"></app-lectures>
    </mat-tab>
    <mat-tab label="Review">
      <app-review [course]="course"></app-review>
    </mat-tab>
  </mat-tab-group>
</ng-container>
