.submitter-name {
  font-weight: bold;
  align-self: flex-start;
}

.comment-creation-time {
  align-self: flex-end;
  color: lightgrey;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: lightgrey solid 1px;
  margin-bottom: 1px;
  border-radius: 3px;
}

.comment-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}