.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1022;
}

.example-sidenav-content {
  min-height: 100%;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 100%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.my-courses-title {
  margin-top: 1em;
  margin-left: 0.5em;
  margin-bottom: -0.1em;
  font-weight: bold;
  font-size: 20px;
  color: #0f3475;
  display: flex;
}
