.join-button {
  margin-top: 1em;
}

.join-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1022;
}

.example-sidenav-content {
  min-height: 100%;
}

.example-container {
  padding-top: 60px;
  height: 100%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-top: 60px;
}

.my-courses-title {
  padding-top: 1em;
  margin-left: 0.5em;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  color: #3f51b5;
  height: 43px;
}
