.course-tile-icon {
  color: #4b6eae;
}

.school-icon {
  font-size: 45px !important;
}

.course-tile-header {
  padding-bottom: 1em;
}

.course-tile-content {
  margin-bottom: 0 !important;
}

.course-image {
  height: 150px;
}