.post-form {
  margin-bottom: 1em;
}

.post-form-card-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.post-actions {
  padding-top: 0 !important;
}

.post-form-title {
  width: 50%;
}

.post-form-content {
  width: 50%;
}

.lightbulb-image {
  background-image: url('../../../../../../assets/img/icons/lightbulb.png');
  background-size: cover;
}

.whats-mind {
  margin-top: 15px;
}

.submit-btn {
  margin-top: 6px !important;
}