<div class="comments-likes">
    <div class="likes-meta">
        <mat-icon class="like-icon">
            <span class="material-icons">
                thumb_up
            </span>
        </mat-icon>
        <p class="likes-number">{{countLikes}}</p>
    </div>
    <div class="comments-meta">
        <a (click)="showComments=true">
            <p class="comments-number">{{countComments}} Comments</p>
        </a>
    </div>
</div>
<div *ngIf="showComments" class="all-comments">
    <app-post-comments [comments]="post.comments"></app-post-comments>
</div>