.review-results-col {
  padding-left: 1em;
  padding-top: 1em;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.review-results-title {
  display: flex;
  flex-direction: row;
}

.review-results-card {
  margin-top: 1em;
  margin-bottom: 1em;
}