.opbook-logo {
  height: 60px;
  width: 80px;
  margin: -6px 0 0 -5px;
}

.spacer {
  flex: 1 1 auto;
}

.hello-user {
  color: #0f3475;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid #2e58a0;
}
