.submitter-name {
  font-weight: bold;
}

.ref-time-button {
  color: lightgrey;
  cursor: pointer;
}

.ref-time-button:hover {
  text-decoration: underline;
}

.comment-creation-time {
  color: lightgrey;
  top: 0;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: lightgrey solid 1px;
  margin-bottom: 1px;
  border-radius: 3px;
}

.comment-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-title-start {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}